:root {
  --headerBGColour: #221e2e;
  --headerTxtColour: #ff0000;
  --cardBGColor: #fa8686;
  --headerTxtFocusColour: #ecf6fd;
  --sectionPadding: 6vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section Header */
.category{
  font-family: 'Ranchers', cursive;;
}

/* Card Fonts */
.cardText , .footer{
  font-family: 'Amita', cursive;
}

.card-footer , .nav-link{
  font-family: 'Merienda', cursive;;
}


.menuNavbarIcon {
  height: 40px;
}

.navbarStyling {
  background-color: var(--headerBGColour);
}

.navbarButton {
  border-color: var(--headerTxtColour) !important;
}

.navbarIconColour {
  color: var(--headerTxtColour) !important;
  font-size: 2rem;
}

.navbar-collapse {
  text-align: center;
}

.nav-link {
  font-weight: 600;
  display: inline-block;
  float: none;
  color: var(--headerTxtColour) !important;
}

.recommend {
  color: var(--headerTxtColour);
}

#recommend-container{
  overflow-x: auto;
  /* white-space: nowrap; */
  padding-bottom: 1rem;
}


@media (max-width: 1000px) {
  #recommend-container > .col-lg-6{
    min-width: 65vw ;
    /* background-color: lawngreen; */
  }
}

@media (max-width: 750px) {
  #recommend-container > .col-lg-6{
    min-width: 90vw;
    /* background-color: maroon; */
  }
}

.category {
  font-weight: 900;
  margin-top: 3rem;
}

.cardStyling {
  margin-top: 1rem;
  box-shadow: 0 8px 16px 0 var(--headerBGColour);
  width: 100%;
  border-radius: 3rem 0;
  overflow: hidden;
}

.cardText {
  width: 70%;
  padding: 1rem 0px 0.5rem 2rem;
  background-color: var(--cardBGColor);
}

.vegNonVeg{
  background-color: white;
  width: 2rem;
  margin-right: .5rem;
  font-weight: bold;
}

.cardImage {
  width: 30%;
  cursor: pointer;
  overflow: hidden;
}

.cardImage .imageBtn {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cardImage .imageBtn:hover {
  transition: transform .5s ease;
  transform: scale(1.3)
}

.imageBtn img {
  width: 100%;
  height: 100%;
}


.card-footer {
  cursor: pointer;
}

.angleAnimateDown {
  animation: iconAnimateDown 1s ease infinite;
}

@keyframes iconAnimateDown {
  0%,
  100% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(5px);
  }
}

.angleAnimateUp {
  animation: iconAnimateUp 1s ease infinite;
}

@keyframes iconAnimateUp {
  0%,
  100% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-2px);
  }
}

/* Image Carousel CSS Start  */
.show-neighbors {
  overflow: hidden;
}

.show-neighbors .item__third:first-child,
.show-neighbors .item__third:last-child {
  display: none;
}

@media (min-width: 960px) {
  .show-neighbors .carousel-indicators {
    margin-right: 15%;
    margin-left: 15%;
  }
  .show-neighbors .carousel-control-prev,
  .show-neighbors .carousel-control-next {
    background: rgba(255, 255, 255, 0.3);
    width: 20%;
    z-index: 11;
    /* .carousel-caption has z-index 10 */
  }
  .show-neighbors .carousel-inner {
    width: 170%; /* default 150%*/
    left: -35%; /* default -25%*/
    /* play here to see if the image can be  */
  }
  .show-neighbors .carousel-item-next:not(.carousel-item-left),
  .show-neighbors .carousel-item-right.active {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
  }
  .show-neighbors .carousel-item-prev:not(.carousel-item-right),
  .show-neighbors .carousel-item-left.active {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
  }
  .show-neighbors .item__third {
    display: block !important;
    float: left;
    position: relative;
    /* captions can now be added */
    width: 33%;
  }
}

/* Default left and right arrow; switched with FA icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.iconColor {
  color: var(--headerTxtColour);
  font-size: 3rem;
}

.carouselImg {
  height: 65vh;
  min-height: 20rem;
  max-width: 99%;
  border: 2px solid var(--headerBGColour);
  padding: 0.5rem;
  vertical-align: middle;
}

.imageText {
  position: relative;
  object-fit: cover;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
/* Image Carousel CSS END  */

.footer {
  background-color: var(--headerBGColour);
  min-height: 3rem;
  color: var(--headerTxtColour);
  margin-top: 2rem;
  padding: 2rem 0px;
}

.contact-ic:hover{
  color: var(--headerTxtFocusColour) !important;
  border-width: 1px;
  border-color: var(--headerTxtFocusColour);
  font-size: 1.1rem;
  scale: 1.2;
}

/* Floating Action Button Style */
.fab-container{
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--headerBGColour);
  border-color: var(--headerTxtColour);
}

.fab-icon-holder i{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.fab-icon-holder:hover{
  transition: transform .5s ease;
  transform: scale(1.2);
}

